{
    "root": true,
    "env": {
        "node": true
    },
    "plugins": ["prettier"],
    "extends": [
        "oclif",
        "oclif-typescript",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "indent": "off"
    }
}
